.main-container {
  width: 100%;
}
.sub-container-1 {
  width: 100%;
  height: 100%;
  background: #052919;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  position: relative;
  z-index: 0;
}
.cont2 {
  width: 80%;
  display: flex;
  align-items: center;
}
.cont1 {
  width: 80%;
  margin-top: 102px;
  display: flex;
  align-items: flex-start;
}
.sc1 {
  margin-left: 10%;
}
.cont1 img {
  padding-top: 2%;
}
.sc1-first-text {
  display: inline-block;
  padding-top: 2%;
  font-size: 12px;
  line-height: 15px;
}
.cont2 img {
  margin-top: 1%;
}
.sc1-second-text {
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 36px;
  line-height: 44px;
}
.sc1-first-img {
  width: 80%;
  margin-top: 0%;
  margin-bottom: 5%;
  border-radius: 20px;
}
.sub-container-2 {
  width: 35%;
  height: 45%;
  position: absolute;
  top: 75%;
  left: 60%;
  background: #ffffff;
  box-shadow: 10px 10px 5px rgba(69, 69, 69, 0.11);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #000000;
  z-index: 10;
  overflow: auto;
}
.sc2 {
  margin-left: 5%;
}
.sc2-first-text {
  margin-top: 2%;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
}
.sc2-second-text {
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.sc2-second-text span {
  font-size: 36px;
  line-height: 50px;
}
.sub-container-3 {
  width: 100%;
  height: 100%;
  background-color: #fafcfd;
  z-index: -1;
  font-family: "Montserrat", sans-serif;
}
.sc3 {
  width: 80%;
  margin-left: 10%;
}
.sc3-header {
  padding-top: 15%;
  display: flex;
  justify-content: space-between;
}
.sc3-header-p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #243d63;
}
.sc3-header-div1 {
  margin-top: 1%;
  width: 20%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #f3f4f4;
}
.sc3-header-div1 input {
  width: 90%;
  height: 100%;
  border: none;
  box-shadow: none;
}
.sc3-hor-line {
  width: 80%;
  border: 1px solid #d5d5d5;
}
.sc3-country-div {
  display: flex;
  flex-wrap: wrap;
}
.sc3-country-name {
  padding-top: 1%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  margin: 1%;
}
.sc3-country-names {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125.6%;
  color: #000000;
}
.sc3-country-div2 {
  margin-top: 2%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
.sc3-country-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.sc3-country-left img {
  width: 100%;
  border-radius: 8px;
}
.country-lfirst-p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  margin-top: 4%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #21b873;
}
.country-lsecond-p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
.sc3-country-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sc3-country-rdata {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2% 0 2% 0;
}
.sc3-country-rdata img {
  width: 30%;
}
.sc3-country-rdetail {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-style: normal;
}
.sc3-country-rdetail-p1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #21b873;
}
.sc3-country-rdetail-p2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 144%;
  color: #000000;
}
.sc3-country-div3 {
  margin-top: 2%;
  padding-bottom: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sc3-country-div3-1 {
  width: 48%;
  margin: 1%;
  background-color: #f5f6f6;
  opacity: 0.84;
  border-radius: 6.99332px;
  display: flex;
  justify-content: space-between;
}
.sc3-country-div3-1left {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.sc3-country-div3-1right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc3-country-div3-1right img {
  width: 80%;
}
.sc3-div3-p-one {
  margin-top: 2%;
  margin-left: 2%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20.98px;
  line-height: 25px;
  text-transform: capitalize;
  color: #23272a;
}
.sc3-div3-p-two {
  margin-left: 2%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27.9733px;
  line-height: 34px;
  text-transform: capitalize;
  color: #23272a;
}
.sc3-div3-p-three {
  margin-left: 2%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158.8%;
  /* or 25px */
  color: #483f3f;
}
.sc3-div3-footer {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 5%;
}
.sc3-div3-p-four {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16.3177px;
  line-height: 20px;
  text-transform: capitalize;
  color: #626f7d;
  margin-bottom: 0;
}
.sc3-div3-footer img {
  margin-left: 2%;
}
