<!-- <div class="container"> -->

<div class="col">
  <div class="col1-greencard">
    <!--<img src="assets\login img.png" />-->
    <!--<img class="green-card" src="assets/images/sign-up/Rectangle 6443.svg" />-->
    <div class="col1-whitecard">
      <img id="whitecard-img" src="assets/images/sign-up/6101665 1.svg" />
      <div id="whitecard-div">
        <p id="whitecard-p1">Study Abroad</p>
        <p id="whitecard-p2">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        </p>
      </div>
    </div>
  </div>
  <div class="col2">
    <div class="heading">
      <h1 class="page-heading">Signup</h1>
      <span class="heading-text"
        >Login with your email ID to access your account</span
      >
    </div>
    <br />
    <!--<hr class="hr-class" />-->
    <br />
    <div class="inputs">
      <label class="form-label">Name</label
      ><!--<br />-->
      <input class="inputFields" type="text" required />
    </div>
    <br />
    <div class="inputs">
      <label class="form-label">Phone number/ email id</label
      ><!--<br />-->
      <input class="inputFields" type="text" required />
    </div>
    <br />
    <div class="inputs">
      <label for="inputPassword5" class="form-label">Password</label
      ><!--<br />-->
      <input
        class="inputFields"
        type="password"
        id="inputPassword5"
        required
        aria-describedby="passwordHelpBlock"
      />
    </div>
    <br />
    <div class="button-content">
      <button type="submit" class="btn signupButton" routerLink="signup-otp">
        SIGN UP
      </button>
    </div>
    <img class="signup-vector" src="assets/images/sign-up/Group 11170.svg" />
  </div>
</div>

<!-- </div> -->
