<div>
  <app-common-navbar></app-common-navbar>
</div>
<div class="main-container">
  <div class="container-1">
    <div class="c1-data">
      <div class="c1-data-r1">
        <p>Home</p>
        <img src="assets/images/flight-booking/Vector (8).svg" />
        <p>Flight</p>
      </div>
      <div class="c1-data-r2">
        <img src="assets/images/flight-booking/Vector (9).svg" />
        <p>Flight</p>
      </div>
      <div class="c1-data-r3">
        <p id="c1-data-r3-p1">
          <span id="c1-data-r3-s1">Travel abroad</span> to countries you like
        </p>
        <p id="c1-data-r3-p2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat
        </p>
        <button class="btn btn-success">Book Now</button>
      </div>
    </div>
    <div class="c1-img">
      <img
        src="assets/images/flight-booking/Group_11329-removebg-preview.png"
      />
    </div>
  </div>
  <div class="container-2">
    <div class="c2-img">
      <div class="c2-img-1">
        <img
          id="c2-img1"
          src="assets/images/flight-booking/unsplash_1VqHRwxcCCw.svg"
        />
        <img
          id="c2-img2"
          src="assets/images/flight-booking/unsplash_mr9FouttLGY.svg"
        />
      </div>
    </div>
    <div class="c2-data">
      <p id="c2-data-p1">More about Travllr</p>
      <p id="c2-data-p2">
        Edutravllr is India’s leading Global Education Consultancy founded in
        2016. Edutravllr has been idealized with the vision of simplifying
        education related decisions.The students are completely hand held during
        the admission process all the way to deciding which offer to accept and
        the visa process. Edutravllr has a history of providing dedicated,
        transparent and professional services, resulting in excellent admissions
        & visa success rate to students from India.
      </p>
      <button class="btn btn-success">Know More</button>
    </div>
  </div>
</div>
<div>
  <app-common-footer></app-common-footer>
</div>
