<nav class="navbar navbar-expand-lg">
  <img
    class="navbar-logo1"
    src="assets\images\common-navbar\Edutravllr 2.svg"
  />
  <div class="drag">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item drag-nav first-nav-el">
        <a
          class="nav-link active"
          aria-current="page"
          href="#"
          style="color: black"
          >Admission Calculator</a
        >
      </li>
      &nbsp;&nbsp;
      <li class="nav-item drag-nav second-nav-el">
        <a class="nav-link" style="color: black" href="#">Destination</a>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item dropdown en-button drag-nav third-nav-el">
        <a
          class="nav-link dropdown-toggle drag-nav"
          style="color: black"
          href="#"
          id="navbarDarkDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >Services
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="navbarDarkDropdownMenuLink"
        >
          <li><a class="dropdown-item" href="#">Service 1</a></li>
          <li><a class="dropdown-item" href="#">Service 2</a></li>
          <li><a class="dropdown-item" href="#">Service 3</a></li>
        </ul>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item drag-nav fourth-nav-el">
        <a class="nav-link" routerLink="/blogs" style="color: black">Blogs</a>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item drag-nav fifth-nav-el">
        <a class="nav-link" href="#" style="color: #21b873">Login/Signup</a>
      </li>
      <!--<form class="d-flex drag-nav sixth-nav-el">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>-->
      <li class="nav-item drag-nav sixth-nav-el">
        <!--<button class="btn btn-light" >-->
        <img
          class="me-2"
          src="assets\images\common-navbar\Group 10163 (1).svg"
        />
        <!--</button>-->
      </li>
      <li class="nav-item dropdown en-button drag-nav seventh-nav-el">
        <a
          class="nav-link dropdown-toggle drag-nav"
          style="color: black"
          href="#"
          id="navbarDarkDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          EN
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="navbarDarkDropdownMenuLink"
        >
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">Tamil</a></li>
          <li><a class="dropdown-item" href="#">Hindi</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
