<div class="div-com-foot">
  <div class="div-com-1">
    <img
      class="com-foot-img"
      src="assets\images\common-footer\common-footer_image\Group 11318.png"
    />
    <img
      class="com-logo-img"
      src="assets\images\common-footer\common-footer_vector\Edutravllr 3.svg"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing rem ipsum dolor sit
      Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur
      adipiscing
    </p>
    <div class="com-icon-img">
      <img
        class="com-icon-img1"
        src="assets\images\common-footer\common-footer_vector\Group 42 (1).svg"
      />
      <img
        class="com-icon-img2"
        src="assets\images\common-footer\common-footer_vector\Group 43 (1).svg"
      />
      <img
        class="com-icon-img3"
        src="assets\images\common-footer\common-footer_vector\Group 44 (1).svg"
      />
    </div>
  </div>
  <div class="div-com-2">
    <ol>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Scholarship</a></li>
      <li><a href="#">Meet the Team </a></li>
    </ol>
  </div>
  <div class="div-com-3">
    <p class="c10-second-text">Subscribe to our newsletter</p>
    <img
      class="c10-first-image"
      src="assets\images\common-footer\common-footer_vector\Subscribe-icon.svg"
    />
    <div class="div-com-3-1">
      <input
        type="email"
        id="emailid"
        class="form-control c10-first-email"
        ngModel
        name="emailid"
        required
        placeholder="Email"
      />
      <button class="btn btn-success c10-button-one" type="submit">
        Subscribe
      </button>
    </div>
    <hr class="hor-footer-line" />
    <p class="copyright-text">
      Copyright © 2022 Edu travllr. All rights reserved.
    </p>
  </div>
</div>
