<div class="home">
  <div class="container-1">
    <nav class="navbar navbar-expand-lg">
      <img
        class="navbar-logo1"
        src="assets\images\home_page\home_part1_image\Edutravllr 2 (2).svg"
      />
      <div class="drag">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item drag-nav first-nav-el">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              style="color: white"
              >Admission Calculator</a
            >
          </li>
          &nbsp;&nbsp;
          <li class="nav-item drag-nav second-nav-el">
            <a class="nav-link" style="color: white" href="#">Destination</a>
          </li>
          &nbsp;&nbsp;
          <li class="nav-item dropdown en-button drag-nav third-nav-el">
            <a
              class="nav-link dropdown-toggle drag-nav"
              style="color: white"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Services
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li><a class="dropdown-item" href="#">Service 1</a></li>
              <li><a class="dropdown-item" href="#">Service 2</a></li>
              <li><a class="dropdown-item" href="#">Service 3</a></li>
            </ul>
          </li>
          &nbsp;&nbsp;
          <li class="nav-item drag-nav fourth-nav-el">
            <a class="nav-link" routerLink="/blogs" style="color: white"
              >Blogs</a
            >
          </li>
          &nbsp;&nbsp;
          <li class="nav-item drag-nav fifth-nav-el">
            <a class="nav-link" href="#" style="color: #21b873">Login/Signup</a>
          </li>
          <!--<form class="d-flex drag-nav sixth-nav-el">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              </form>-->
          <li class="nav-item drag-nav sixth-nav-el">
            <!--<button class="btn btn-light" >-->
            <img
              class="me-2"
              src="assets\images\common-navbar\Group 10163 (1).svg"
            />
            <!--</button>-->
          </li>
          <li class="nav-item dropdown en-button drag-nav seventh-nav-el">
            <a
              class="nav-link dropdown-toggle drag-nav"
              style="color: white"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              EN
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Tamil</a></li>
              <li><a class="dropdown-item" href="#">Hindi</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="homeContent1-text">
      <span>Start your Journey to study abroad </span>
    </div>
    <div class="homeContent1-searchbar">
      <form class="searchbar-form">
        <input
          class="form-control searchbar"
          type="search"
          placeholder="Search for college or university"
          aria-label="Search"
        />
        <button class="btn btn-success c1-search-button">
          <img src="assets\images\home_page\home_part1_vector\Fill 3.svg" />
        </button>
      </form>
    </div>
    <div class="c1-bottom-part">
      <div class="c1-bottom-part1">
        <p class="c1-bottom-one">Connect With Us on</p>
      </div>
      <div class="c1-bottom-part2">
        <img
          class="c1-bottom-two"
          src="assets\images\home_page\home_part1_vector\Group 2896.svg"
        />
        <img
          class="c1-bottom-three"
          src="assets\images\home_page\home_part1_vector\Group 2899.svg"
        />
        <img
          class="c1-bottom-four"
          src="assets\images\home_page\home_part1_vector\Group 11188.svg"
        />
        <img
          class="c1-bottom-five"
          src="assets\images\home_page\home_part1_vector\Group 3014.svg"
        />
      </div>
    </div>
  </div>
  <div class="container-2">
    <img
      class="c2-dots-1"
      src="assets\images\home_page\home_part2_vector\Group 11163.svg"
    />
    <img
      class="c2-dots-2"
      src="assets\images\home_page\home_part2_vector\Group 11168.svg"
    />
    <img
      class="c2-vector-top"
      src="assets\images\home_page\home_part2_vector\worm-vector-2.svg"
    />
    <img
      class="c2-vector-bottom"
      src="assets\images\home_page\home_part2_vector\worm-vector-2.svg"
    />
    <p class="container-position home-first-text">What we do</p>
    <p class="container-position home-second-text c2-second-text">
      We are a community responsible for helping students to get placed in their
      dream universities
    </p>
    <img
      class="container-position c2-first-img"
      src="assets\images\home_page\home_part2_image\unsplash_8CqDvPuo_kI.jpg"
    />
  </div>
  <div class="container-3">
    <img
      class="c3-dots-1"
      src="assets\images\home_page\home_part3_vector\Group 11190.svg"
    />
    <img
      class="c3-dots-2"
      src="assets\images\home_page\home_part3_vector\Group 11191.svg"
    />
    <p class="container-position home-first-text">Our Global Presence</p>
    <p class="container-position home-second-text c3-second-text">
      Destinations
    </p>
    <img
      class="first"
      src="assets\images\home_page\home_part3_image\Group 11182.svg"
    />
  </div>
  <div class="container-4">
    <img
      class="c4-dots-1"
      src="assets\images\home_page\home_part4_vector\Group 11205.svg"
    />
    <p class="container-position home-first-text">Get to Know more</p>
    <p class="container-position home-second-text c4-second-text">
      Free Virtual Counselling
    </p>
    <p class="container-position c4-third-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit
      Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit
    </p>
    <img
      class="c4-vector-bottom"
      src="assets\images\home_page\home_part4_vector\worm-vector.svg"
    />
    <img
      class="c4-vector-top"
      src="assets\images\home_page\home_part4_vector\worm-vector.svg"
    />
    <div class="container-position container-4-1">
      <div class="c4-left">
        <div class="card c4-left-first" *ngFor="let option of c4_left_options">
          <img class="c4-first-vector" src="{{ option.img }}" />
          <div class="card-body">{{ option.content }}</div>
        </div>
      </div>
      <div class="c4-right">
        <img
          class="c4-right-first"
          src="assets\images\home_page\home_part4_image\unsplash_y_6rqStQBYQ.jpg"
        />
        <p class="c4-right-text">
          Schedule your appointment with us to know more
        </p>
        <button type="button" class="btn btn-success c4-right-button">
          Book Now
        </button>
      </div>
    </div>
  </div>
  <div class="container-5">
    <img
      class="c5-vector-top"
      src="assets\images\home_page\home_part5_vector\worm-vector-5.svg"
    />
    <p class="container-position home-first-text">Why Us</p>
    <p class="container-position home-second-text c5-second-text">
      Why Choose Us
    </p>
    <div class="container-position row1">
      <div class="c5-third">
        <div class="c5-first-img">
          <img
            class="c5-second-img"
            src="assets\images\home_page\home_part5_vector\Ellipse 848 (2).svg"
          />
          <img
            class="c5-third-img"
            src="assets\images\home_page\home_part5_vector\Graduated.svg"
          />
        </div>
        <div class="c5-first-p">
          <p class="c5-number">count</p>
          <p class="c5-name">Students Enrolled</p>
        </div>
      </div>
      <div class="c5-third">
        <div class="c5-first-img">
          <img
            class="c5-second-img"
            src="assets\images\home_page\home_part5_vector\Ellipse 849.svg"
          />
          <img
            class="c5-third-img"
            src="assets\images\home_page\home_part5_vector\bank.svg"
          />
        </div>
        <div class="c5-second-p">
          <p class="c5-number">count</p>
          <p class="c5-name">Universities</p>
        </div>
      </div>
      <div class="c5-third">
        <div class="c5-first-img">
          <img
            class="c5-second-img"
            src="assets\images\home_page\home_part5_vector\Ellipse 850.svg"
          />
          <img
            class="c5-third-img"
            src="assets\images\home_page\home_part5_vector\Country-wise Statistics.svg"
          />
        </div>
        <div class="c5-third-p">
          <p class="c5-number">count</p>
          <p class="c5-name">Countries</p>
        </div>
      </div>
    </div>
    <img
      class="c5-vector-bottom"
      src="assets\images\home_page\home_part5_vector\worm-vector-5.svg"
    />
  </div>
  <div class="container-6">
    <img
      class="c6-dots-1"
      src="assets\images\home_page\home_part6_vector\Group 11203.svg"
    />
    <img
      class="c6-dots-2"
      src="assets\images\home_page\home_part6_vector\Group 11204.svg"
    />
    <p class="home-first-text">Testimonials</p>
    <p class="home-second-text">Stories of Students</p>
    <p class="c6-third-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit
      Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
      sitLorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
      sit Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
      sit
    </p>
    <div class="c6-testimonial">
      <div
        id="mycarousel"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
        data-bs-interval="5000"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <!--<div
            class="carousel-item active"
            style="background-color: #f5f7fd"
            *ngFor="let data of c7_carousel"
          >
            <img class="c7-first-image" src="{{ data.img }}" />
            <p class="c7-first-name">{{ data.name }}</p>
            <p class="c7-first-text">
              {{ data.p }}
            </p>
          </div>-->
          <div class="carousel-item active" style="background-color: #f5f7fd">
            <img
              class="c7-first-image"
              src="assets\images\home_page\home_part7_image\pexels-antoni-shkraba-7579363 1.jpg"
            />
            <p class="c7-first-name">Joey Tribbiani 1</p>
            <p class="c7-first-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum
              dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing Lorem
              ipsum dolor sitLorem ipsum dolor sit amet, consectetur adipiscing
              Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur
              adipiscing Lorem ipsum dolor sit
            </p>
          </div>
          <div class="carousel-item" style="background-color: #f5f7fd">
            <img
              class="c7-first-image"
              src="assets\images\home_page\home_part7_image\DSC04230 copy 1.jpg"
            />
            <p class="c7-first-name">Joey Tribbiani 2</p>
            <p class="c7-first-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum
              dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing Lorem
              ipsum dolor sitLorem ipsum dolor sit amet, consectetur adipiscing
              Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur
              adipiscing Lorem ipsum dolor sit
            </p>
          </div>
          <div class="carousel-item" style="background-color: #f5f7fd">
            <img
              class="c7-first-image"
              src="assets\images\home_page\home_part7_image\ADI_7218.jpg"
            />
            <p class="c7-first-name">Joey Tribbiani 3</p>
            <p class="c7-first-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum
              dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing Lorem
              ipsum dolor sitLorem ipsum dolor sit amet, consectetur adipiscing
              Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consectetur
              adipiscing Lorem ipsum dolor sit
            </p>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <!--<div
      id="mycarousel"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
      data-bs-interval="5000"
    >
      <div class="carousel-inner">
        <div
          class="carousel-item active c7-textspace"
          style="background-color: #f5f7fd"
        >
          <img
            class="c7-first-image"
            src="assets\images\home_page\home_part7_image\pexels-antoni-shkraba-7579363 1.jpg"
          />
          <p class="c7-first-name">Joey Tribbiani</p>
          <p class="c7-first-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
            sit Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum
            dolor sitLorem ipsum dolor sit amet, consectetur adipiscing Lorem
            ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing
            Lorem ipsum dolor sit
          </p>
        </div>
        <div
          class="carousel-item c7-textspace"
          style="background-color: #f5f7fd"
        >
          <img
            class="c7-first-image"
            src="assets\images\home_page\home_part7_image\pexels-antoni-shkraba-7579363 1.jpg"
          />
          <p class="c7-first-name">Joey Tribbiani 1</p>
          <p class="c7-first-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
            sit Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum
            dolor sitLorem ipsum dolor sit amet, consectetur adipiscing Lorem
            ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing
            Lorem ipsum dolor sit
          </p>
        </div>
        <div
          class="carousel-item c7-textspace"
          style="background-color: #f5f7fd"
        >
          <img
            class="c7-first-image"
            src="assets\images\home_page\home_part7_image\pexels-antoni-shkraba-7579363 1.jpg"
          />
          <p class="c7-first-name">Joey Tribbiani 2</p>
          <p class="c7-first-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
            sit Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum
            dolor sitLorem ipsum dolor sit amet, consectetur adipiscing Lorem
            ipsum dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing
            Lorem ipsum dolor sit
          </p>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#mycarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#mycarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#mycarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
      </div>
    </div>-->
  </div>
  <div class="container-7"></div>
  <app-common-clients></app-common-clients>
  <div class="container-9">
    <img
      class="c9-dots-1"
      src="assets\images\home_page\home_part7_vector\Group 11202.svg"
    />
    <div class="col-lg-8 c9-first-div">
      <p class="home-second-text">Contact Us</p>
      <p class="c9-second-text">
        Fill up the form and our team will get back to you within 24 hrs
      </p>
      <div class="row1 c9-second-text">
        <div class="c9-icons" *ngFor="let icon of c9_icons">
          <img src="{{ icon.img }}" />
          <p>{{ icon.p }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 c9-first-form">
      <form (ngSubmit)="OnSubmit()" #f="ngForm">
        <input
          type="text"
          id="username"
          class="form-control c9-inputs"
          ngModel
          name="username"
          required
          placeholder="Name"
        />
        <input
          type="text"
          id="phonenumber"
          class="form-control c9-inputs"
          ngModel
          name="phonenumber"
          required
          placeholder="Phone Number"
        />
        <input
          type="email"
          id="emailid"
          class="form-control c9-inputs"
          ngModel
          name="emailid"
          required
          placeholder="Email ID"
        />
        <input
          type="text"
          id="country"
          class="form-control c9-inputs"
          ngModel
          name="country"
          required
          placeholder="Country"
        />
        <input
          type="text"
          id="course"
          class="form-control c9-inputs"
          ngModel
          name="course"
          required
          placeholder="Course"
        />
        <button class="btn btn-success c9-button-one" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
  <app-common-footer></app-common-footer>
</div>
